flows/example2/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "read k-bus config",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e542b9dd467ca141",
        "type": "tab",
        "label": "RW digital IO's",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4dffc307d432aa7b",
        "type": "tab",
        "label": "Serial Communication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51f065d175567b4e",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "172.16.250.225",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "b209ad3f95b78c4f",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "7f2e2d163ff8e63f"
            ]
        ]
    },
    {
        "id": "7f2e2d163ff8e63f",
        "type": "modbus-getter",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "8240",
        "quantity": "63",
        "server": "51f065d175567b4e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "7e26cd34f6581098"
            ],
            [
                "191cee4bc89e0c32"
            ]
        ]
    },
    {
        "id": "7e26cd34f6581098",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "191cee4bc89e0c32",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "fc68efa8c8159e8f",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "info": "0x2030 R \n1 … 65 Beschreibung der angeschlossenen I/O-Module (I/O-Modul 0...64) ",
        "x": 120,
        "y": 100,
        "wires": []
    },
    {
        "id": "5572aa84d27dcad7",
        "type": "modbus-write",
        "z": "e542b9dd467ca141",
        "name": "Write Digital Outputs",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "12",
        "quantity": "3",
        "server": "51f065d175567b4e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 100,
        "wires": [
            [
                "6b830d7fc3820e35"
            ],
            [
                "d04931efb99e5fec"
            ]
        ]
    },
    {
        "id": "a4959d0472d52abc",
        "type": "inject",
        "z": "e542b9dd467ca141",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "730e848545a693bb"
            ]
        ]
    },
    {
        "id": "6b830d7fc3820e35",
        "type": "debug",
        "z": "e542b9dd467ca141",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 60,
        "wires": []
    },
    {
        "id": "d04931efb99e5fec",
        "type": "debug",
        "z": "e542b9dd467ca141",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "1ac6af6221eb1516",
        "type": "inject",
        "z": "e542b9dd467ca141",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "09bfd59f3c2a0b62"
            ]
        ]
    },
    {
        "id": "09bfd59f3c2a0b62",
        "type": "modbus-getter",
        "z": "e542b9dd467ca141",
        "name": "Read Digital Inputs",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "32",
        "quantity": "1",
        "server": "51f065d175567b4e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 730,
        "y": 360,
        "wires": [
            [
                "bc46bfc89b52b26a"
            ],
            [
                "69ab85dba988504f"
            ]
        ]
    },
    {
        "id": "bc46bfc89b52b26a",
        "type": "debug",
        "z": "e542b9dd467ca141",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "69ab85dba988504f",
        "type": "debug",
        "z": "e542b9dd467ca141",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "730e848545a693bb",
        "type": "function",
        "z": "e542b9dd467ca141",
        "name": "Write all bit TRUE",
        "func": "msg.payload = [0xFFFF, 0xFFFF, 0xFFFF];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "5572aa84d27dcad7",
                "e312704ef753f5a4"
            ]
        ]
    },
    {
        "id": "f1e040867c95cfbe",
        "type": "function",
        "z": "e542b9dd467ca141",
        "name": "write all bit FALSE",
        "func": "msg.payload = [0x0000, 0x0000, 0x0000];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "5572aa84d27dcad7",
                "e312704ef753f5a4"
            ]
        ]
    },
    {
        "id": "bb54b105bb39c3a8",
        "type": "inject",
        "z": "e542b9dd467ca141",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "f1e040867c95cfbe"
            ]
        ]
    },
    {
        "id": "e312704ef753f5a4",
        "type": "debug",
        "z": "e542b9dd467ca141",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "0627ec1e36b95396",
        "type": "comment",
        "z": "e542b9dd467ca141",
        "name": "",
        "info": "<ul>\n    <li>Use the Modbus FC3 function to communicate </li>\n    \n    <li>If you're communicating with the WagoAppPlcModbus library, an offset of 20 must be used for the inputs</li>\n    <li>If you're communicating with the plc-modbus-server Docker container, the offset is 0</li>\n</ul>\n",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "f1bf065d2c9dcf82",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "d4d7feb95ead6397"
            ]
        ]
    },
    {
        "id": "d4d7feb95ead6397",
        "type": "modbus-getter",
        "z": "4dffc307d432aa7b",
        "name": "Read Serial Interface",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "12",
        "server": "51f065d175567b4e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "0766def608ec1ae7",
                "27162db1ea1e08c7",
                "c64aab7fbb2f038e",
                "7a27d14a4c1e490b"
            ],
            [
                "b3c0496be9054f9d"
            ]
        ]
    },
    {
        "id": "c64aab7fbb2f038e",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "dec_to_hex",
        "func": "msg.payload = msg.payload.map(n =>\n    \"0x\" + n.toString(16).padStart(4, \"0\")\n);\nmsg.topic = \"hexadecimal formated\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 100,
        "wires": [
            [
                "d512dadeb41ff064"
            ]
        ]
    },
    {
        "id": "dc955b9b3eba298d",
        "type": "modbus-write",
        "z": "4dffc307d432aa7b",
        "name": "Write Serial Interface",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "12",
        "server": "51f065d175567b4e",
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 760,
        "y": 660,
        "wires": [
            [
                "347cfff3df73bc38"
            ],
            [
                "2b51448b0930e629"
            ]
        ]
    },
    {
        "id": "b3c0496be9054f9d",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "MB read status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "1deccdd221146d6d",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "Serial Data In",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 320,
        "wires": []
    },
    {
        "id": "2387e260e2e60c6b",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Control Byte Mngt",
        "func": "let ControlByte = 0;\nlet OutputLen = 0;\n\nControlByte += (flow.get(\"CB_TR\") || 0) * 1;\nControlByte += (flow.get(\"CB_RA\") || 0) * 2;\nControlByte += (flow.get(\"CB_IR\") || 0) * 4;\nControlByte += (flow.get(\"CB_SC\") || 0) * 8;\nControlByte += (flow.get(\"CB_RC\") || 0) * 128;\n\nOutputLen = flow.get(\"CB_OL\") || 0;\n\n// Forcer en 8 bits\nControlByte = ControlByte & 0xFF;\nOutputLen = OutputLen & 0xFF;\n\n// Conversion en mots 16 bits\nlet ControlWord = (OutputLen << 8) | ControlByte;\nControlWord = ControlWord & 0xFFFF;\n\nmsg.payload.unshift(ControlWord);\nmsg.topic = \"serial interface out-data\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 600,
        "wires": [
            [
                "2e75a321caf0b43e",
                "dc955b9b3eba298d"
            ]
        ]
    },
    {
        "id": "d512dadeb41ff064",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "serial interface in (hex)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 100,
        "wires": []
    },
    {
        "id": "0766def608ec1ae7",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "MB read data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 180,
        "wires": []
    },
    {
        "id": "2e75a321caf0b43e",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "serial interface out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 600,
        "wires": []
    },
    {
        "id": "7a27d14a4c1e490b",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Status Byte Mngt",
        "func": "//  Integer value received as input (diStatB for status byte)\nlet diStatB = Number(msg.payload[0]);\n\n// check the input format\nif (!Number.isInteger(diStatB)) {\n    node.warn(\"msg.payload isn't a valide integer\");\n    return Array(16).fill(null);\n}\n\n// force the value to remain 16 bits.\ndiStatB = diStatB & 0xFFFF;\n\nlet diPreviousStatB = flow.get(\"storedStatusByte\");\nlet outputs = Array(16).fill(null);  // key to handling multiple outputs in Node-RED\n\nif (diPreviousStatB !== diStatB) {\n    flow.set(\"storedStatusByte\", diStatB);\n    let In_Lenght = 0;\n\n    for (let i = 0; i < 16; i++) {\n        let bitValue = (diStatB >> i) & 0x01;\n\n        switch(i){\n            case 0:\n                flow.set(\"SB_TA\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_TA, transmit accepted\"\n                };\n                break;\n            case 1:\n                flow.set(\"SB_RR\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_RR, receive request\"\n                };\n                break;\n            case 2:\n                flow.set(\"SB_IA\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_IA, init accepted\"\n                };\n                break;\n            case 3:\n                flow.set(\"SB_RX_ERR\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_RX_ERR, receive error\"\n                };\n                break;\n            case 4:\n                flow.set(\"SB_RX_BUF_F\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_RX_BUF_F, RX buffer full\"\n                };\n                break;\n            case 5:\n                flow.set(\"SB_TX_BUF_F\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_TX_BUF_F, TX buffer full\"\n                };\n                break;\n            case 6:\n                flow.set(\"SB_GEN_ERR\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_GEN_ERR, general error\"\n                };\n                break;\n            case 7:\n                flow.set(\"SB_RC\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_RC, register communication\"\n                };\n                break;\n            case 8:\n                In_Lenght = In_Lenght + (bitValue * 1);\n                break;\n            case 9:\n                In_Lenght = In_Lenght + (bitValue * 2);\n                break;\n            case 10:\n                In_Lenght = In_Lenght + (bitValue * 4);\n                break;\n            case 11:\n                In_Lenght = In_Lenght + (bitValue * 8);\n                break;\n            case 12:\n                In_Lenght = In_Lenght + (bitValue * 16);\n                break;\n            case 13:\n                In_Lenght = In_Lenght + (bitValue * 32);\n                break;\n            case 14:\n                flow.set(\"SB_BUF_E\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_BUF_E, buffer empty\"\n                };\n                break;\n            case 15:\n                flow.set(\"SB_CTS\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_CTS, clear to send\"\n                };\n                break;\n        }\n        flow.set(\"SB_IL\", In_Lenght);\n    }\n}\n\n// removes the status word from the payload\nmsg.payload = msg.payload.slice(1);\nmsg.topic = \"serial interface in-data\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 320,
        "wires": [
            [
                "1deccdd221146d6d",
                "54c6c766bfef71dd"
            ]
        ]
    },
    {
        "id": "347cfff3df73bc38",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "MB write data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 640,
        "wires": []
    },
    {
        "id": "2b51448b0930e629",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "MB write status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 680,
        "wires": []
    },
    {
        "id": "54c6c766bfef71dd",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Protocol",
        "func": "// read status bit from flow variable\nlet SB_TA = (flow.get(\"SB_TA\") || 0);\nlet SB_RR = (flow.get(\"SB_RR\") || 0);\nlet SB_IA = (flow.get(\"SB_IA\") || 0);\nlet SB_RX_ERR = (flow.get(\"SB_RX_ERR\") || 0);\nlet SB_RX_BUF_F = (flow.get(\"SB_RX_BUF_F\") || 0);\nlet SB_TX_BUF_F = (flow.get(\"SB_TX_BUF_F\") || 0);\nlet SB_GEN_ERR = (flow.get(\"SB_GEN_ERR\") || 0);\nlet SB_RC = (flow.get(\"SB_RC\") || 0);\nlet SB_BUF_E = (flow.get(\"SB_BUF_E\") || 0);\nlet SB_CTS = (flow.get(\"SB_CTS\") || 0);\nlet SB_IL = (flow.get(\"SB_IL\") || 0);\n\nlet SB_R_TRIG = (flow.get(\"SB_R_TRIG\") || 0);\nlet SB_R_TRIG_ = (flow.get(\"SB_R_TRIG_\") || 0);\n\nlet CB_TR = (flow.get(\"CB_TR\") || 0);\nlet CB_RA = (flow.get(\"CB_RA\") || 0);\nlet CB_IR = (flow.get(\"CB_IR\") || 0);\nlet CB_SC = (flow.get(\"CB_SC\") || 0);\nlet CB_RC = (flow.get(\"CB_RC\") || 0);\nlet CB_OL = (flow.get(\"CB_OL\") || 0);\n\n// protocol, if new data available\nif (SB_RR !== CB_RA){\n    \n    // RTRIG\n    SB_R_TRIG++;\n    flow.set(\"SB_R_TRIG\", SB_R_TRIG);\n\n    if (SB_R_TRIG !== SB_R_TRIG_){\n        // toggle receive ack\n        CB_RA = Number(!CB_RA);\n        flow.set(\"CB_RA\", CB_RA);\n\n        // set Output lengh\n        CB_OL = SB_IL;\n        flow.set(\"CB_OL\", CB_OL);\n\n        // serialize\n        for (let i = 1; i < SB_IL; i++){\n            ;\n        }\n\n        // toggle transmit request\n        CB_TR = Number(!CB_TR);\n        flow.set(\"CB_TR\", CB_TR);        \n    }\n\n    SB_R_TRIG_ = SB_R_TRIG;\n    flow.set(\"SB_R_TRIG_\", SB_R_TRIG_);\n}\n\nmsg.topic = \"serial protocol\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "daa3b2219e7799e0",
                "2387e260e2e60c6b"
            ]
        ]
    },
    {
        "id": "181ca4cf031ef8b9",
        "type": "comment",
        "z": "4dffc307d432aa7b",
        "name": "",
        "info": "<ul>\n    <li>Use the Modbus FC3 function to communicate </li>\n    \n    <li> If you're communicating with \n         the WagoAppPlcModbus library, \n         an offset of 20 must be used \n         for the inputs\n    </li>\n    <li> If you're communicating with \n         the plc-modbus-server Docker \n         container, the offset is 0\n    </li>\n</ul>\n",
        "x": 280,
        "y": 140,
        "wires": []
    },
    {
        "id": "27162db1ea1e08c7",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "serial interface in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 140,
        "wires": []
    },
    {
        "id": "daa3b2219e7799e0",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "protocol output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 460,
        "wires": []
    },
    {
        "id": "67a8ca01f2842961",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 880,
        "wires": [
            [
                "37211d878f182378"
            ]
        ]
    },
    {
        "id": "37211d878f182378",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test SB_TA",
        "func": "let value = flow.get(\"SB_TA\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_TA\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 880,
        "wires": [
            [
                "4b4db3b72efd78de",
                "5c5727b36f35ee47"
            ]
        ]
    },
    {
        "id": "4b4db3b72efd78de",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "debug SB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 840,
        "wires": []
    },
    {
        "id": "30693d1aa75c1051",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 920,
        "wires": [
            [
                "fe4ec3b4a34a5649"
            ]
        ]
    },
    {
        "id": "fe4ec3b4a34a5649",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test SB_RR",
        "func": "let value = flow.get(\"SB_RR\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_RR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 920,
        "wires": [
            [
                "4b4db3b72efd78de",
                "f66056ee66699691"
            ]
        ]
    },
    {
        "id": "ef345c646dcdca73",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 960,
        "wires": [
            [
                "52e4b09c21484318"
            ]
        ]
    },
    {
        "id": "52e4b09c21484318",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test SB_IA",
        "func": "let value = flow.get(\"SB_IA\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_IA\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 960,
        "wires": [
            [
                "4b4db3b72efd78de"
            ]
        ]
    },
    {
        "id": "7b20fed0fac6236e",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1000,
        "wires": [
            [
                "0c095bf5278c7b12"
            ]
        ]
    },
    {
        "id": "0c095bf5278c7b12",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test SB_RX_ERR",
        "func": "let value = flow.get(\"SB_RX_ERR\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_RX_ERR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1000,
        "wires": [
            [
                "4b4db3b72efd78de"
            ]
        ]
    },
    {
        "id": "29f864c7186541b5",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1040,
        "wires": [
            [
                "971e896a8c94d8a9"
            ]
        ]
    },
    {
        "id": "971e896a8c94d8a9",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test SB_RX_BUF_F",
        "func": "let value = flow.get(\"SB_RX_BUF_F\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_RX_BUF_F\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1040,
        "wires": [
            [
                "4b4db3b72efd78de"
            ]
        ]
    },
    {
        "id": "6c3238840939fde4",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1080,
        "wires": [
            [
                "8aade73d3ff5b5e9"
            ]
        ]
    },
    {
        "id": "8aade73d3ff5b5e9",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test SB_TX_BUF_F",
        "func": "let value = flow.get(\"SB_TX_BUF_F\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_TX_BUF_F\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1080,
        "wires": [
            [
                "4b4db3b72efd78de"
            ]
        ]
    },
    {
        "id": "7ecffd279c55d9d6",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1120,
        "wires": [
            [
                "290c68fcd9c114bc"
            ]
        ]
    },
    {
        "id": "290c68fcd9c114bc",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test SB_GEN_ERR",
        "func": "let value = flow.get(\"SB_GEN_ERR\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_GEN_ERR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1120,
        "wires": [
            [
                "4b4db3b72efd78de"
            ]
        ]
    },
    {
        "id": "5af95d5be7604c30",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1160,
        "wires": [
            [
                "edbadb215f9e80d9"
            ]
        ]
    },
    {
        "id": "edbadb215f9e80d9",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test SB_RC",
        "func": "let value = flow.get(\"SB_RC\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_RC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1160,
        "wires": [
            [
                "4b4db3b72efd78de",
                "75c7abf2a0a11c98"
            ]
        ]
    },
    {
        "id": "a7fc3d0646d8fcab",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1200,
        "wires": [
            [
                "b79b188d2a58e594"
            ]
        ]
    },
    {
        "id": "b79b188d2a58e594",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test SB_IL",
        "func": "let value = flow.get(\"SB_IL\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_IL\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1200,
        "wires": [
            [
                "4b4db3b72efd78de",
                "f66056ee66699691"
            ]
        ]
    },
    {
        "id": "abfb10514d2bf4ac",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1240,
        "wires": [
            [
                "f83729f608b47efa"
            ]
        ]
    },
    {
        "id": "f83729f608b47efa",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test SB_BUF_E",
        "func": "let value = flow.get(\"SB_BUF_E\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_BUF_E\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1240,
        "wires": [
            [
                "4b4db3b72efd78de"
            ]
        ]
    },
    {
        "id": "ad7ddfa2353e123c",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1280,
        "wires": [
            [
                "64bbeeb1891b44bc"
            ]
        ]
    },
    {
        "id": "64bbeeb1891b44bc",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test SB_CTS",
        "func": "let value = flow.get(\"SB_CTS\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_CTS\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1280,
        "wires": [
            [
                "4b4db3b72efd78de"
            ]
        ]
    },
    {
        "id": "bf147f50d885b490",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 840,
        "wires": [
            [
                "37211d878f182378",
                "fe4ec3b4a34a5649",
                "52e4b09c21484318",
                "0c095bf5278c7b12",
                "971e896a8c94d8a9",
                "8aade73d3ff5b5e9",
                "290c68fcd9c114bc",
                "edbadb215f9e80d9",
                "b79b188d2a58e594",
                "f83729f608b47efa",
                "64bbeeb1891b44bc"
            ]
        ]
    },
    {
        "id": "f66056ee66699691",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "debug Rx",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5c5727b36f35ee47",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "debug Tx",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 940,
        "wires": []
    },
    {
        "id": "75c7abf2a0a11c98",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "debug RC",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1160,
        "wires": []
    },
    {
        "id": "fb1554c384cbc284",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test CB_TR",
        "func": "let value = flow.get(\"CB_TR\") || 0;\nmsg.payload = value;\nmsg.topic = \"CB_TR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1440,
        "wires": [
            [
                "7a1d5daf6dc59ad9"
            ]
        ]
    },
    {
        "id": "db8503f835844846",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1440,
        "wires": [
            [
                "fb1554c384cbc284"
            ]
        ]
    },
    {
        "id": "be19b2e5118ec836",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1400,
        "wires": [
            [
                "fb1554c384cbc284",
                "4e6bc3d752a6355d",
                "e58614b6262e1daa",
                "03dcdb2e7a110c84",
                "4c8ebbd028d4c670"
            ]
        ]
    },
    {
        "id": "7a1d5daf6dc59ad9",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "debug CB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1400,
        "wires": []
    },
    {
        "id": "4e6bc3d752a6355d",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test CB_RA",
        "func": "let value = flow.get(\"CB_RA\") || 0;\nmsg.payload = value;\nmsg.topic = \"CB_RA\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1480,
        "wires": [
            [
                "7a1d5daf6dc59ad9"
            ]
        ]
    },
    {
        "id": "e58614b6262e1daa",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test CB_IR",
        "func": "let value = flow.get(\"CB_IR\") || 0;\nmsg.payload = value;\nmsg.topic = \"CB_IR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1520,
        "wires": [
            [
                "7a1d5daf6dc59ad9"
            ]
        ]
    },
    {
        "id": "03dcdb2e7a110c84",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test CB_RC",
        "func": "let value = flow.get(\"CB_RC\") || 0;\nmsg.payload = value;\nmsg.topic = \"CB_RC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1600,
        "wires": [
            [
                "7a1d5daf6dc59ad9"
            ]
        ]
    },
    {
        "id": "8f04c45618a591cf",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1480,
        "wires": [
            [
                "4e6bc3d752a6355d"
            ]
        ]
    },
    {
        "id": "736c14f3fd453072",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1520,
        "wires": [
            [
                "e58614b6262e1daa"
            ]
        ]
    },
    {
        "id": "d33c9555986ce02b",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1600,
        "wires": [
            [
                "03dcdb2e7a110c84"
            ]
        ]
    },
    {
        "id": "4c8ebbd028d4c670",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test CB_OL",
        "func": "let value = flow.get(\"CB_OL\") || 0;\nmsg.payload = value;\nmsg.topic = \"CB_OL\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1640,
        "wires": [
            [
                "7a1d5daf6dc59ad9"
            ]
        ]
    },
    {
        "id": "8ab40604497b2429",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1640,
        "wires": [
            [
                "4c8ebbd028d4c670"
            ]
        ]
    },
    {
        "id": "b1c32d229b3e4a9a",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test CB_SC",
        "func": "let value = flow.get(\"CB_SC\") || 0;\nmsg.payload = value;\nmsg.topic = \"CB_SC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1560,
        "wires": [
            [
                "7a1d5daf6dc59ad9"
            ]
        ]
    },
    {
        "id": "cdb07ed09147aaa2",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1560,
        "wires": [
            [
                "b1c32d229b3e4a9a"
            ]
        ]
    },
    {
        "id": "83ca4ffafb8133cb",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1740,
        "wires": [
            [
                "0bd393e201e4c0dc"
            ]
        ]
    },
    {
        "id": "0bd393e201e4c0dc",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "1, ON",
        "func": "msg.payload = [0x0001];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1740,
        "wires": [
            [
                "f53e094c913dbfe5"
            ]
        ]
    },
    {
        "id": "5adaba65a3ef420a",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "0, OFF",
        "func": "msg.payload = [0x0000];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1780,
        "wires": [
            [
                "f53e094c913dbfe5"
            ]
        ]
    },
    {
        "id": "1e2be79e3a1917d5",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1780,
        "wires": [
            [
                "5adaba65a3ef420a"
            ]
        ]
    },
    {
        "id": "f53e094c913dbfe5",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Cmd CB_TR (Transmit request)",
        "func": "let bitValue = Number(msg.payload);\nflow.set(\"CB_TR\", bitValue);\nmsg.payload = bitValue;\nmsg.topic = \"CB_TR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1740,
        "wires": [
            [
                "94114238a2acc40c"
            ]
        ]
    },
    {
        "id": "94114238a2acc40c",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "debug TR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1740,
        "wires": []
    },
    {
        "id": "eaed555832f36f40",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1880,
        "wires": [
            [
                "7db752e232dde822"
            ]
        ]
    },
    {
        "id": "7db752e232dde822",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "1, ON",
        "func": "msg.payload = [0x0001];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1880,
        "wires": [
            [
                "53c5fb4df6880131"
            ]
        ]
    },
    {
        "id": "ca6813fbf9c97d21",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "0, OFF",
        "func": "msg.payload = [0x0000];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1920,
        "wires": [
            [
                "53c5fb4df6880131"
            ]
        ]
    },
    {
        "id": "51e1474fa0ccf784",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1920,
        "wires": [
            [
                "ca6813fbf9c97d21"
            ]
        ]
    },
    {
        "id": "53c5fb4df6880131",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Cmd CB_RA (Receive accepted)",
        "func": "let bitValue = Number(msg.payload);\nflow.set(\"CB_RA\", bitValue);\nmsg.payload = bitValue;\nmsg.topic = \"CB_RA\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1880,
        "wires": [
            [
                "40a675effa9f7a41"
            ]
        ]
    },
    {
        "id": "40a675effa9f7a41",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "debug RA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1880,
        "wires": []
    },
    {
        "id": "17b828c417cb7241",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2020,
        "wires": [
            [
                "371efe8caba1cacf"
            ]
        ]
    },
    {
        "id": "371efe8caba1cacf",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "1, ON",
        "func": "msg.payload = [0x0001];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2020,
        "wires": [
            [
                "5af4d77d3fe04048"
            ]
        ]
    },
    {
        "id": "2c178334cc7f530a",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "0, OFF",
        "func": "msg.payload = [0x0000];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2060,
        "wires": [
            [
                "5af4d77d3fe04048"
            ]
        ]
    },
    {
        "id": "77b05d1a0792d86d",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2060,
        "wires": [
            [
                "2c178334cc7f530a"
            ]
        ]
    },
    {
        "id": "5af4d77d3fe04048",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Cmd CB_IR (Init request)",
        "func": "let bitValue = Number(msg.payload);\nflow.set(\"CB_IR\", bitValue);\nmsg.payload = bitValue;\nmsg.topic = \"CB_IR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 2020,
        "wires": [
            [
                "910c7eb5af435ff6"
            ]
        ]
    },
    {
        "id": "910c7eb5af435ff6",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "debug IR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 2020,
        "wires": []
    },
    {
        "id": "9990f8f93bd10850",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2160,
        "wires": [
            [
                "1bb1b03105bd4b0f"
            ]
        ]
    },
    {
        "id": "1bb1b03105bd4b0f",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "1, ON",
        "func": "msg.payload = [0x0001];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2160,
        "wires": [
            [
                "7e2436e9e3f19a20"
            ]
        ]
    },
    {
        "id": "5c629d34c27a759c",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "0, OFF",
        "func": "msg.payload = [0x0000];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2200,
        "wires": [
            [
                "7e2436e9e3f19a20"
            ]
        ]
    },
    {
        "id": "31a4814246f2ee26",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2200,
        "wires": [
            [
                "5c629d34c27a759c"
            ]
        ]
    },
    {
        "id": "7e2436e9e3f19a20",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Cmd CB_SC (Send continous)",
        "func": "let bitValue = Number(msg.payload);\nflow.set(\"CB_SC\", bitValue);\nmsg.payload = bitValue;\nmsg.topic = \"CB_SC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 2160,
        "wires": [
            [
                "787a9703f8c15219"
            ]
        ]
    },
    {
        "id": "787a9703f8c15219",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "debug SC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 2160,
        "wires": []
    },
    {
        "id": "c85f1ce45a8393b1",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2300,
        "wires": [
            [
                "0529d3d4f161b16f"
            ]
        ]
    },
    {
        "id": "0529d3d4f161b16f",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "1, ON",
        "func": "msg.payload = [0x0001];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2300,
        "wires": [
            [
                "6dbd763fdbfcb459"
            ]
        ]
    },
    {
        "id": "cc8ad411b204ccc2",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "0, OFF",
        "func": "msg.payload = [0x0000];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2340,
        "wires": [
            [
                "6dbd763fdbfcb459"
            ]
        ]
    },
    {
        "id": "66bf476b05a0e49d",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2340,
        "wires": [
            [
                "cc8ad411b204ccc2"
            ]
        ]
    },
    {
        "id": "6dbd763fdbfcb459",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Cmd CB_RC (Register communication)",
        "func": "let bitValue = Number(msg.payload);\nflow.set(\"CB_RC\", bitValue);\nmsg.payload = bitValue;\nmsg.topic = \"CB_RC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2300,
        "wires": [
            [
                "7da43df738efa359"
            ]
        ]
    },
    {
        "id": "7da43df738efa359",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "debug RC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 2300,
        "wires": []
    },
    {
        "id": "deb41421a557957e",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1820,
        "wires": [
            [
                "b73152e5083c6860"
            ]
        ]
    },
    {
        "id": "b73152e5083c6860",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Toggle TR",
        "func": "// read status bit from flow variable\nlet CB_TR = flow.get(\"CB_TR\") || 0;\n\nCB_TR = Number(!CB_TR);\n\nflow.set(\"CB_TR\", CB_TR);\n\nmsg.payload = CB_TR;\nmsg.topic = \"CB_TR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1820,
        "wires": [
            [
                "94114238a2acc40c"
            ]
        ]
    },
    {
        "id": "cf496dada4f3a363",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Toggle RA",
        "func": "// read status bit from flow variable\nlet CB_RA = flow.get(\"CB_RA\") || 0;\n\nCB_RA = Number(!CB_RA);\n\nflow.set(\"CB_RA\", CB_RA);\n\nmsg.payload = CB_RA;\nmsg.topic = \"CB_RA\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1960,
        "wires": [
            [
                "40a675effa9f7a41"
            ]
        ]
    },
    {
        "id": "86147d1d96843286",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1960,
        "wires": [
            [
                "cf496dada4f3a363"
            ]
        ]
    },
    {
        "id": "d90198f64c88f3d7",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Toggle IR",
        "func": "// read status bit from flow variable\nlet CB_IR = flow.get(\"CB_IR\") || 0;\n\nCB_IR = Number(!CB_IR);\n\nflow.set(\"CB_IR\", CB_IR);\n\nmsg.payload = CB_IR;\nmsg.topic = \"CB_IR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2100,
        "wires": [
            [
                "910c7eb5af435ff6"
            ]
        ]
    },
    {
        "id": "b2f37fe35160613f",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2100,
        "wires": [
            [
                "d90198f64c88f3d7"
            ]
        ]
    },
    {
        "id": "3165e1f0867db14c",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Toggle SC",
        "func": "// read status bit from flow variable\nlet CB_SC = flow.get(\"CB_SC\") || 0;\n\nCB_SC = Number(!CB_SC);\n\nflow.set(\"CB_SC\", CB_SC);\n\nmsg.payload = CB_SC;\nmsg.topic = \"CB_SC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 2240,
        "wires": [
            [
                "787a9703f8c15219"
            ]
        ]
    },
    {
        "id": "87d3bc87462baede",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2240,
        "wires": [
            [
                "3165e1f0867db14c"
            ]
        ]
    },
    {
        "id": "07a884516ccc9c13",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Toggle RC",
        "func": "// read status bit from flow variable\nlet CB_RC = flow.get(\"CB_RC\") || 0;\n\nCB_RC = Number(!CB_RC);\n\nflow.set(\"CB_RC\", CB_RC);\n\nmsg.payload = CB_RC;\nmsg.topic = \"CB_RC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 2380,
        "wires": [
            [
                "7da43df738efa359"
            ]
        ]
    },
    {
        "id": "47e5a86faa329aaa",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2380,
        "wires": [
            [
                "07a884516ccc9c13"
            ]
        ]
    },
    {
        "id": "879e82ddaeea75a8",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test Trigger",
        "func": "let value = flow.get(\"SB_R_TRIG\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_R_TRIG\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 2440,
        "wires": [
            [
                "ac6275f8e716e8f6"
            ]
        ]
    },
    {
        "id": "bd2fe5736f7b3fce",
        "type": "inject",
        "z": "4dffc307d432aa7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2440,
        "wires": [
            [
                "879e82ddaeea75a8",
                "a8149c658d30b7b4"
            ]
        ]
    },
    {
        "id": "ac6275f8e716e8f6",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "debug Trigger",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 2440,
        "wires": []
    },
    {
        "id": "6b9747f23aac3a5b",
        "type": "debug",
        "z": "4dffc307d432aa7b",
        "name": "debug Trigger_",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 2480,
        "wires": []
    },
    {
        "id": "a8149c658d30b7b4",
        "type": "function",
        "z": "4dffc307d432aa7b",
        "name": "Test Trigger_",
        "func": "let value = flow.get(\"SB_R_TRIG_\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_R_TRIG_\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 2480,
        "wires": [
            [
                "6b9747f23aac3a5b"
            ]
        ]
    }
]