flows/example2/flows.json
[
    {
        "id": "11fa3d545041ddb2",
        "type": "tab",
        "label": "RW digital IO's",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "87a7cd009a17d8a1",
        "type": "tab",
        "label": "Serial Communication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51f065d175567b4e",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "pfc-modbus-server",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "77c4500029c4fb39",
        "type": "modbus-write",
        "z": "11fa3d545041ddb2",
        "name": "Write Digital Outputs",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "12",
        "quantity": "3",
        "server": "51f065d175567b4e",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 100,
        "wires": [
            [
                "f866d91a404d8c60"
            ],
            [
                "0983fe0cf1710844"
            ]
        ]
    },
    {
        "id": "768ad7e4aefefee1",
        "type": "inject",
        "z": "11fa3d545041ddb2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "03463059e6b32524"
            ]
        ]
    },
    {
        "id": "f866d91a404d8c60",
        "type": "debug",
        "z": "11fa3d545041ddb2",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 60,
        "wires": []
    },
    {
        "id": "0983fe0cf1710844",
        "type": "debug",
        "z": "11fa3d545041ddb2",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "9e03a248af6ec5d7",
        "type": "inject",
        "z": "11fa3d545041ddb2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "0145ff57d5cf9dd8"
            ]
        ]
    },
    {
        "id": "0145ff57d5cf9dd8",
        "type": "modbus-getter",
        "z": "11fa3d545041ddb2",
        "name": "Read Digital Inputs",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "32",
        "quantity": "1",
        "server": "51f065d175567b4e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 730,
        "y": 360,
        "wires": [
            [
                "7f44aa9efef1fcdc"
            ],
            [
                "ed507185b4c72fa1"
            ]
        ]
    },
    {
        "id": "7f44aa9efef1fcdc",
        "type": "debug",
        "z": "11fa3d545041ddb2",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "ed507185b4c72fa1",
        "type": "debug",
        "z": "11fa3d545041ddb2",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "03463059e6b32524",
        "type": "function",
        "z": "11fa3d545041ddb2",
        "name": "Write all bit TRUE",
        "func": "msg.payload = [0xFFFF, 0xFFFF, 0xFFFF];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "77c4500029c4fb39",
                "33c928d004d4e3a6"
            ]
        ]
    },
    {
        "id": "6ef4e4c9440e10eb",
        "type": "function",
        "z": "11fa3d545041ddb2",
        "name": "write all bit FALSE",
        "func": "msg.payload = [0x0000, 0x0000, 0x0000];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "77c4500029c4fb39",
                "33c928d004d4e3a6"
            ]
        ]
    },
    {
        "id": "aaf25771bd8d4183",
        "type": "inject",
        "z": "11fa3d545041ddb2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "6ef4e4c9440e10eb"
            ]
        ]
    },
    {
        "id": "33c928d004d4e3a6",
        "type": "debug",
        "z": "11fa3d545041ddb2",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "4ed7521d9e88ed52",
        "type": "comment",
        "z": "11fa3d545041ddb2",
        "name": "",
        "info": "<ul>\n    <li>Use the Modbus FC3 function to communicate </li>\n    \n    <li>If you're communicating with the WagoAppPlcModbus library, an offset of 20 must be used for the inputs</li>\n    <li>If you're communicating with the plc-modbus-server Docker container, the offset is 0</li>\n</ul>\n",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "3afeda203126c708",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "847def8d01a57130"
            ]
        ]
    },
    {
        "id": "847def8d01a57130",
        "type": "modbus-getter",
        "z": "87a7cd009a17d8a1",
        "name": "Read Serial Interface",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "12",
        "server": "51f065d175567b4e",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "0127a6c66e071550",
                "493c7ad1db01676d",
                "fcfdebe36a1af42b",
                "d27329fa1a5dac73"
            ],
            [
                "43a008a91ae33029"
            ]
        ]
    },
    {
        "id": "fcfdebe36a1af42b",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "dec_to_hex",
        "func": "msg.payload = msg.payload.map(n =>\n    \"0x\" + n.toString(16).padStart(4, \"0\")\n);\nmsg.topic = \"hexadecimal formated\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 100,
        "wires": [
            [
                "7eb8b93f37be65ba"
            ]
        ]
    },
    {
        "id": "cce9573f35f43456",
        "type": "modbus-write",
        "z": "87a7cd009a17d8a1",
        "name": "Write Serial Interface",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "12",
        "server": "51f065d175567b4e",
        "emptyMsgOnFail": true,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 760,
        "y": 660,
        "wires": [
            [
                "cda2e84ce31dc5ae"
            ],
            [
                "d0fdb42d8f5ee7af"
            ]
        ]
    },
    {
        "id": "43a008a91ae33029",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "MB read status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "c64ec80836de2f87",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "Serial Data In",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 320,
        "wires": []
    },
    {
        "id": "77ea86ef678eceae",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Control Byte Mngt",
        "func": "let ControlByte = 0;\nlet OutputLen = 0;\n\nControlByte += (flow.get(\"CB_TR\") || 0) * 1;\nControlByte += (flow.get(\"CB_RA\") || 0) * 2;\nControlByte += (flow.get(\"CB_IR\") || 0) * 4;\nControlByte += (flow.get(\"CB_SC\") || 0) * 8;\nControlByte += (flow.get(\"CB_RC\") || 0) * 128;\n\nOutputLen = flow.get(\"CB_OL\") || 0;\n\n// Forcer en 8 bits\nControlByte = ControlByte & 0xFF;\nOutputLen = OutputLen & 0xFF;\n\n// Conversion en mots 16 bits\nlet ControlWord = (OutputLen << 8) | ControlByte;\nControlWord = ControlWord & 0xFFFF;\n\nmsg.payload.unshift(ControlWord);\nmsg.topic = \"serial interface out-data\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 600,
        "wires": [
            [
                "ba1d4aa4370ede8e",
                "cce9573f35f43456"
            ]
        ]
    },
    {
        "id": "7eb8b93f37be65ba",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "serial interface in (hex)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 100,
        "wires": []
    },
    {
        "id": "0127a6c66e071550",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "MB read data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 180,
        "wires": []
    },
    {
        "id": "ba1d4aa4370ede8e",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "serial interface out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 600,
        "wires": []
    },
    {
        "id": "d27329fa1a5dac73",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Status Byte Mngt",
        "func": "//  Integer value received as input (diStatB for status byte)\nlet diStatB = Number(msg.payload[0]);\n\n// check the input format\nif (!Number.isInteger(diStatB)) {\n    node.warn(\"msg.payload isn't a valide integer\");\n    return Array(16).fill(null);\n}\n\n// force the value to remain 16 bits.\ndiStatB = diStatB & 0xFFFF;\n\nlet diPreviousStatB = flow.get(\"storedStatusByte\");\nlet outputs = Array(16).fill(null);  // key to handling multiple outputs in Node-RED\n\nif (diPreviousStatB !== diStatB) {\n    flow.set(\"storedStatusByte\", diStatB);\n    let In_Lenght = 0;\n\n    for (let i = 0; i < 16; i++) {\n        let bitValue = (diStatB >> i) & 0x01;\n\n        switch(i){\n            case 0:\n                flow.set(\"SB_TA\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_TA, transmit accepted\"\n                };\n                break;\n            case 1:\n                flow.set(\"SB_RR\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_RR, receive request\"\n                };\n                break;\n            case 2:\n                flow.set(\"SB_IA\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_IA, init accepted\"\n                };\n                break;\n            case 3:\n                flow.set(\"SB_RX_ERR\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_RX_ERR, receive error\"\n                };\n                break;\n            case 4:\n                flow.set(\"SB_RX_BUF_F\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_RX_BUF_F, RX buffer full\"\n                };\n                break;\n            case 5:\n                flow.set(\"SB_TX_BUF_F\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_TX_BUF_F, TX buffer full\"\n                };\n                break;\n            case 6:\n                flow.set(\"SB_GEN_ERR\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_GEN_ERR, general error\"\n                };\n                break;\n            case 7:\n                flow.set(\"SB_RC\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_RC, register communication\"\n                };\n                break;\n            case 8:\n                In_Lenght = In_Lenght + (bitValue * 1);\n                break;\n            case 9:\n                In_Lenght = In_Lenght + (bitValue * 2);\n                break;\n            case 10:\n                In_Lenght = In_Lenght + (bitValue * 4);\n                break;\n            case 11:\n                In_Lenght = In_Lenght + (bitValue * 8);\n                break;\n            case 12:\n                In_Lenght = In_Lenght + (bitValue * 16);\n                break;\n            case 13:\n                In_Lenght = In_Lenght + (bitValue * 32);\n                break;\n            case 14:\n                flow.set(\"SB_BUF_E\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_BUF_E, buffer empty\"\n                };\n                break;\n            case 15:\n                flow.set(\"SB_CTS\", bitValue);\n                outputs[i] = {\n                    payload: bitValue,\n                    bit: i,\n                    topic: \"SB_CTS, clear to send\"\n                };\n                break;\n        }\n        flow.set(\"SB_IL\", In_Lenght);\n    }\n}\n\n// removes the status word from the payload\nmsg.payload = msg.payload.slice(1);\nmsg.topic = \"serial interface in-data\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 320,
        "wires": [
            [
                "c64ec80836de2f87",
                "b8365ddfb3171f01"
            ]
        ]
    },
    {
        "id": "cda2e84ce31dc5ae",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "MB write data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 640,
        "wires": []
    },
    {
        "id": "d0fdb42d8f5ee7af",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "MB write status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 680,
        "wires": []
    },
    {
        "id": "b8365ddfb3171f01",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Protocol",
        "func": "// read status bit from flow variable\nlet SB_TA = (flow.get(\"SB_TA\") || 0);\nlet SB_RR = (flow.get(\"SB_RR\") || 0);\nlet SB_IA = (flow.get(\"SB_IA\") || 0);\nlet SB_RX_ERR = (flow.get(\"SB_RX_ERR\") || 0);\nlet SB_RX_BUF_F = (flow.get(\"SB_RX_BUF_F\") || 0);\nlet SB_TX_BUF_F = (flow.get(\"SB_TX_BUF_F\") || 0);\nlet SB_GEN_ERR = (flow.get(\"SB_GEN_ERR\") || 0);\nlet SB_RC = (flow.get(\"SB_RC\") || 0);\nlet SB_BUF_E = (flow.get(\"SB_BUF_E\") || 0);\nlet SB_CTS = (flow.get(\"SB_CTS\") || 0);\nlet SB_IL = (flow.get(\"SB_IL\") || 0);\n\nlet SB_R_TRIG = (flow.get(\"SB_R_TRIG\") || 0);\nlet SB_R_TRIG_ = (flow.get(\"SB_R_TRIG_\") || 0);\n\nlet CB_TR = (flow.get(\"CB_TR\") || 0);\nlet CB_RA = (flow.get(\"CB_RA\") || 0);\nlet CB_IR = (flow.get(\"CB_IR\") || 0);\nlet CB_SC = (flow.get(\"CB_SC\") || 0);\nlet CB_RC = (flow.get(\"CB_RC\") || 0);\nlet CB_OL = (flow.get(\"CB_OL\") || 0);\n\n// protocol, if new data available\nif (SB_RR !== CB_RA){\n    \n    // RTRIG\n    SB_R_TRIG++;\n    flow.set(\"SB_R_TRIG\", SB_R_TRIG);\n\n    if (SB_R_TRIG !== SB_R_TRIG_){\n        // toggle receive ack\n        CB_RA = Number(!CB_RA);\n        flow.set(\"CB_RA\", CB_RA);\n\n        // set Output lengh\n        CB_OL = SB_IL;\n        flow.set(\"CB_OL\", CB_OL);\n\n        // serialize\n        for (let i = 1; i < SB_IL; i++){\n            ;\n        }\n\n        // toggle transmit request\n        CB_TR = Number(!CB_TR);\n        flow.set(\"CB_TR\", CB_TR);        \n    }\n\n    SB_R_TRIG_ = SB_R_TRIG;\n    flow.set(\"SB_R_TRIG_\", SB_R_TRIG_);\n}\n\nmsg.topic = \"serial protocol\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "b26022a8e0c2fcb5",
                "77ea86ef678eceae"
            ]
        ]
    },
    {
        "id": "3cfdcbb51fbc0378",
        "type": "comment",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "info": "<ul>\n    <li>Use the Modbus FC3 function to communicate </li>\n    \n    <li> If you're communicating with \n         the WagoAppPlcModbus library, \n         an offset of 20 must be used \n         for the inputs\n    </li>\n    <li> If you're communicating with \n         the plc-modbus-server Docker \n         container, the offset is 0\n    </li>\n</ul>\n",
        "x": 280,
        "y": 140,
        "wires": []
    },
    {
        "id": "493c7ad1db01676d",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "serial interface in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 140,
        "wires": []
    },
    {
        "id": "b26022a8e0c2fcb5",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "protocol output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 460,
        "wires": []
    },
    {
        "id": "38241a6638c1a34b",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 880,
        "wires": [
            [
                "74cbe3a6f3db513d"
            ]
        ]
    },
    {
        "id": "74cbe3a6f3db513d",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test SB_TA",
        "func": "let value = flow.get(\"SB_TA\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_TA\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 880,
        "wires": [
            [
                "4a343a7e69873b73",
                "a38fd731a5e54a52"
            ]
        ]
    },
    {
        "id": "4a343a7e69873b73",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "debug SB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 840,
        "wires": []
    },
    {
        "id": "b46aacd96c291e3c",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 920,
        "wires": [
            [
                "b6e50ba77ac9aee1"
            ]
        ]
    },
    {
        "id": "b6e50ba77ac9aee1",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test SB_RR",
        "func": "let value = flow.get(\"SB_RR\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_RR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 920,
        "wires": [
            [
                "4a343a7e69873b73",
                "c286ccb30ff0c5b4"
            ]
        ]
    },
    {
        "id": "3e49246e97ddd3fe",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 960,
        "wires": [
            [
                "6b9d5be6cfb7315b"
            ]
        ]
    },
    {
        "id": "6b9d5be6cfb7315b",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test SB_IA",
        "func": "let value = flow.get(\"SB_IA\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_IA\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 960,
        "wires": [
            [
                "4a343a7e69873b73"
            ]
        ]
    },
    {
        "id": "37c22a75782705de",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1000,
        "wires": [
            [
                "fb057feeef08dc6d"
            ]
        ]
    },
    {
        "id": "fb057feeef08dc6d",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test SB_RX_ERR",
        "func": "let value = flow.get(\"SB_RX_ERR\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_RX_ERR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1000,
        "wires": [
            [
                "4a343a7e69873b73"
            ]
        ]
    },
    {
        "id": "f2e486eb534b4feb",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1040,
        "wires": [
            [
                "88c1ca405b8e360b"
            ]
        ]
    },
    {
        "id": "88c1ca405b8e360b",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test SB_RX_BUF_F",
        "func": "let value = flow.get(\"SB_RX_BUF_F\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_RX_BUF_F\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1040,
        "wires": [
            [
                "4a343a7e69873b73"
            ]
        ]
    },
    {
        "id": "2bbfa4f9e57fe146",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1080,
        "wires": [
            [
                "77d0547ef211b5e6"
            ]
        ]
    },
    {
        "id": "77d0547ef211b5e6",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test SB_TX_BUF_F",
        "func": "let value = flow.get(\"SB_TX_BUF_F\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_TX_BUF_F\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1080,
        "wires": [
            [
                "4a343a7e69873b73"
            ]
        ]
    },
    {
        "id": "f726aea446895947",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1120,
        "wires": [
            [
                "173b059ae9f1ecc9"
            ]
        ]
    },
    {
        "id": "173b059ae9f1ecc9",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test SB_GEN_ERR",
        "func": "let value = flow.get(\"SB_GEN_ERR\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_GEN_ERR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1120,
        "wires": [
            [
                "4a343a7e69873b73"
            ]
        ]
    },
    {
        "id": "40d282063b5ffd75",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1160,
        "wires": [
            [
                "d9712901dc372bc4"
            ]
        ]
    },
    {
        "id": "d9712901dc372bc4",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test SB_RC",
        "func": "let value = flow.get(\"SB_RC\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_RC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1160,
        "wires": [
            [
                "4a343a7e69873b73",
                "9292142d974c238b"
            ]
        ]
    },
    {
        "id": "23675c8c7afd7808",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1200,
        "wires": [
            [
                "8ec6ed93d0d3ebfb"
            ]
        ]
    },
    {
        "id": "8ec6ed93d0d3ebfb",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test SB_IL",
        "func": "let value = flow.get(\"SB_IL\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_IL\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1200,
        "wires": [
            [
                "4a343a7e69873b73",
                "c286ccb30ff0c5b4"
            ]
        ]
    },
    {
        "id": "5264191d63c40c20",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1240,
        "wires": [
            [
                "dca72f08ec46fd91"
            ]
        ]
    },
    {
        "id": "dca72f08ec46fd91",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test SB_BUF_E",
        "func": "let value = flow.get(\"SB_BUF_E\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_BUF_E\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1240,
        "wires": [
            [
                "4a343a7e69873b73"
            ]
        ]
    },
    {
        "id": "0f54339e8de8b06d",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1280,
        "wires": [
            [
                "4a82c68a85ad945a"
            ]
        ]
    },
    {
        "id": "4a82c68a85ad945a",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test SB_CTS",
        "func": "let value = flow.get(\"SB_CTS\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_CTS\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1280,
        "wires": [
            [
                "4a343a7e69873b73"
            ]
        ]
    },
    {
        "id": "92c6d106bb0c8a04",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 840,
        "wires": [
            [
                "74cbe3a6f3db513d",
                "b6e50ba77ac9aee1",
                "6b9d5be6cfb7315b",
                "fb057feeef08dc6d",
                "88c1ca405b8e360b",
                "77d0547ef211b5e6",
                "173b059ae9f1ecc9",
                "d9712901dc372bc4",
                "8ec6ed93d0d3ebfb",
                "dca72f08ec46fd91",
                "4a82c68a85ad945a"
            ]
        ]
    },
    {
        "id": "c286ccb30ff0c5b4",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "debug Rx",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1020,
        "wires": []
    },
    {
        "id": "a38fd731a5e54a52",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "debug Tx",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 940,
        "wires": []
    },
    {
        "id": "9292142d974c238b",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "debug RC",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1160,
        "wires": []
    },
    {
        "id": "83367a4e7bd40873",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test CB_TR",
        "func": "let value = flow.get(\"CB_TR\") || 0;\nmsg.payload = value;\nmsg.topic = \"CB_TR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1440,
        "wires": [
            [
                "b0304f7a410907bd"
            ]
        ]
    },
    {
        "id": "a0ea221d23dfa652",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1440,
        "wires": [
            [
                "83367a4e7bd40873"
            ]
        ]
    },
    {
        "id": "14bc6a934a6ca1b4",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 1400,
        "wires": [
            [
                "83367a4e7bd40873",
                "d451fec77bccdd89",
                "02e7ca8a786ad5d0",
                "c93dc035a4f515b2",
                "1211013516de97d9"
            ]
        ]
    },
    {
        "id": "b0304f7a410907bd",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "debug CB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1400,
        "wires": []
    },
    {
        "id": "d451fec77bccdd89",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test CB_RA",
        "func": "let value = flow.get(\"CB_RA\") || 0;\nmsg.payload = value;\nmsg.topic = \"CB_RA\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1480,
        "wires": [
            [
                "b0304f7a410907bd"
            ]
        ]
    },
    {
        "id": "02e7ca8a786ad5d0",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test CB_IR",
        "func": "let value = flow.get(\"CB_IR\") || 0;\nmsg.payload = value;\nmsg.topic = \"CB_IR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1520,
        "wires": [
            [
                "b0304f7a410907bd"
            ]
        ]
    },
    {
        "id": "c93dc035a4f515b2",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test CB_RC",
        "func": "let value = flow.get(\"CB_RC\") || 0;\nmsg.payload = value;\nmsg.topic = \"CB_RC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1600,
        "wires": [
            [
                "b0304f7a410907bd"
            ]
        ]
    },
    {
        "id": "312e880db708b665",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1480,
        "wires": [
            [
                "d451fec77bccdd89"
            ]
        ]
    },
    {
        "id": "69a57e1179915ec9",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1520,
        "wires": [
            [
                "02e7ca8a786ad5d0"
            ]
        ]
    },
    {
        "id": "f9508e33e3c648ed",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1600,
        "wires": [
            [
                "c93dc035a4f515b2"
            ]
        ]
    },
    {
        "id": "1211013516de97d9",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test CB_OL",
        "func": "let value = flow.get(\"CB_OL\") || 0;\nmsg.payload = value;\nmsg.topic = \"CB_OL\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1640,
        "wires": [
            [
                "b0304f7a410907bd"
            ]
        ]
    },
    {
        "id": "fc934f26b4910ecc",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1640,
        "wires": [
            [
                "1211013516de97d9"
            ]
        ]
    },
    {
        "id": "806b81a992d42913",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test CB_SC",
        "func": "let value = flow.get(\"CB_SC\") || 0;\nmsg.payload = value;\nmsg.topic = \"CB_SC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1560,
        "wires": [
            [
                "b0304f7a410907bd"
            ]
        ]
    },
    {
        "id": "3bdcd9de658524ea",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1560,
        "wires": [
            [
                "806b81a992d42913"
            ]
        ]
    },
    {
        "id": "9a46eed781cf1b25",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1740,
        "wires": [
            [
                "a9b3920c8bcb9c6b"
            ]
        ]
    },
    {
        "id": "a9b3920c8bcb9c6b",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "1, ON",
        "func": "msg.payload = [0x0001];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1740,
        "wires": [
            [
                "dbe49f411be0ab41"
            ]
        ]
    },
    {
        "id": "73d2e427b2e76b84",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "0, OFF",
        "func": "msg.payload = [0x0000];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1780,
        "wires": [
            [
                "dbe49f411be0ab41"
            ]
        ]
    },
    {
        "id": "af5cdf0c30fbed4a",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1780,
        "wires": [
            [
                "73d2e427b2e76b84"
            ]
        ]
    },
    {
        "id": "dbe49f411be0ab41",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Cmd CB_TR (Transmit request)",
        "func": "let bitValue = Number(msg.payload);\nflow.set(\"CB_TR\", bitValue);\nmsg.payload = bitValue;\nmsg.topic = \"CB_TR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1740,
        "wires": [
            [
                "f8cfc91877754221"
            ]
        ]
    },
    {
        "id": "f8cfc91877754221",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "debug TR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1740,
        "wires": []
    },
    {
        "id": "aea10c2c1e6eb2b2",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1880,
        "wires": [
            [
                "252a17f6e13740d1"
            ]
        ]
    },
    {
        "id": "252a17f6e13740d1",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "1, ON",
        "func": "msg.payload = [0x0001];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1880,
        "wires": [
            [
                "9d5c9ff53d5038dc"
            ]
        ]
    },
    {
        "id": "df9b46f9b703bc22",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "0, OFF",
        "func": "msg.payload = [0x0000];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1920,
        "wires": [
            [
                "9d5c9ff53d5038dc"
            ]
        ]
    },
    {
        "id": "a9dd8d1815e7c447",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1920,
        "wires": [
            [
                "df9b46f9b703bc22"
            ]
        ]
    },
    {
        "id": "9d5c9ff53d5038dc",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Cmd CB_RA (Receive accepted)",
        "func": "let bitValue = Number(msg.payload);\nflow.set(\"CB_RA\", bitValue);\nmsg.payload = bitValue;\nmsg.topic = \"CB_RA\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1880,
        "wires": [
            [
                "dfb226b5d466da36"
            ]
        ]
    },
    {
        "id": "dfb226b5d466da36",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "debug RA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1880,
        "wires": []
    },
    {
        "id": "6d4dcc3e0b9e743b",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2020,
        "wires": [
            [
                "46432d9cdb17de7a"
            ]
        ]
    },
    {
        "id": "46432d9cdb17de7a",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "1, ON",
        "func": "msg.payload = [0x0001];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2020,
        "wires": [
            [
                "af3307db1dfcacc2"
            ]
        ]
    },
    {
        "id": "cf8ebda7f6c1c96d",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "0, OFF",
        "func": "msg.payload = [0x0000];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2060,
        "wires": [
            [
                "af3307db1dfcacc2"
            ]
        ]
    },
    {
        "id": "4c58522e77106610",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2060,
        "wires": [
            [
                "cf8ebda7f6c1c96d"
            ]
        ]
    },
    {
        "id": "af3307db1dfcacc2",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Cmd CB_IR (Init request)",
        "func": "let bitValue = Number(msg.payload);\nflow.set(\"CB_IR\", bitValue);\nmsg.payload = bitValue;\nmsg.topic = \"CB_IR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 2020,
        "wires": [
            [
                "affe6358b7f877fb"
            ]
        ]
    },
    {
        "id": "affe6358b7f877fb",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "debug IR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 2020,
        "wires": []
    },
    {
        "id": "a95351f582da4b0e",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2160,
        "wires": [
            [
                "cf67029068f185d7"
            ]
        ]
    },
    {
        "id": "cf67029068f185d7",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "1, ON",
        "func": "msg.payload = [0x0001];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2160,
        "wires": [
            [
                "8aafda842c171ded"
            ]
        ]
    },
    {
        "id": "3efdffbc62cef11e",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "0, OFF",
        "func": "msg.payload = [0x0000];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2200,
        "wires": [
            [
                "8aafda842c171ded"
            ]
        ]
    },
    {
        "id": "9cd880d19a06d2c0",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2200,
        "wires": [
            [
                "3efdffbc62cef11e"
            ]
        ]
    },
    {
        "id": "8aafda842c171ded",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Cmd CB_SC (Send continous)",
        "func": "let bitValue = Number(msg.payload);\nflow.set(\"CB_SC\", bitValue);\nmsg.payload = bitValue;\nmsg.topic = \"CB_SC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 2160,
        "wires": [
            [
                "84da9162124b3649"
            ]
        ]
    },
    {
        "id": "84da9162124b3649",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "debug SC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 2160,
        "wires": []
    },
    {
        "id": "dfe2e7dc56e994cb",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2300,
        "wires": [
            [
                "a1118ff8f7a9aff8"
            ]
        ]
    },
    {
        "id": "a1118ff8f7a9aff8",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "1, ON",
        "func": "msg.payload = [0x0001];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2300,
        "wires": [
            [
                "c7aaba15cb4e9806"
            ]
        ]
    },
    {
        "id": "4709f5beafd1ad21",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "0, OFF",
        "func": "msg.payload = [0x0000];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2340,
        "wires": [
            [
                "c7aaba15cb4e9806"
            ]
        ]
    },
    {
        "id": "9d238d1f2ef28f09",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2340,
        "wires": [
            [
                "4709f5beafd1ad21"
            ]
        ]
    },
    {
        "id": "c7aaba15cb4e9806",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Cmd CB_RC (Register communication)",
        "func": "let bitValue = Number(msg.payload);\nflow.set(\"CB_RC\", bitValue);\nmsg.payload = bitValue;\nmsg.topic = \"CB_RC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2300,
        "wires": [
            [
                "47c0d850fc94295e"
            ]
        ]
    },
    {
        "id": "47c0d850fc94295e",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "debug RC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 2300,
        "wires": []
    },
    {
        "id": "addd5542476f59d3",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1820,
        "wires": [
            [
                "b2bd58ef69810b56"
            ]
        ]
    },
    {
        "id": "b2bd58ef69810b56",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Toggle TR",
        "func": "// read status bit from flow variable\nlet CB_TR = flow.get(\"CB_TR\") || 0;\n\nCB_TR = Number(!CB_TR);\n\nflow.set(\"CB_TR\", CB_TR);\n\nmsg.payload = CB_TR;\nmsg.topic = \"CB_TR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1820,
        "wires": [
            [
                "f8cfc91877754221"
            ]
        ]
    },
    {
        "id": "01772eef957c9e73",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Toggle RA",
        "func": "// read status bit from flow variable\nlet CB_RA = flow.get(\"CB_RA\") || 0;\n\nCB_RA = Number(!CB_RA);\n\nflow.set(\"CB_RA\", CB_RA);\n\nmsg.payload = CB_RA;\nmsg.topic = \"CB_RA\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1960,
        "wires": [
            [
                "dfb226b5d466da36"
            ]
        ]
    },
    {
        "id": "dbdda03d12c48e8b",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1960,
        "wires": [
            [
                "01772eef957c9e73"
            ]
        ]
    },
    {
        "id": "951341397b5308a2",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Toggle IR",
        "func": "// read status bit from flow variable\nlet CB_IR = flow.get(\"CB_IR\") || 0;\n\nCB_IR = Number(!CB_IR);\n\nflow.set(\"CB_IR\", CB_IR);\n\nmsg.payload = CB_IR;\nmsg.topic = \"CB_IR\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2100,
        "wires": [
            [
                "affe6358b7f877fb"
            ]
        ]
    },
    {
        "id": "b0c77713e4f71e95",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2100,
        "wires": [
            [
                "951341397b5308a2"
            ]
        ]
    },
    {
        "id": "ebc96622523d99fe",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Toggle SC",
        "func": "// read status bit from flow variable\nlet CB_SC = flow.get(\"CB_SC\") || 0;\n\nCB_SC = Number(!CB_SC);\n\nflow.set(\"CB_SC\", CB_SC);\n\nmsg.payload = CB_SC;\nmsg.topic = \"CB_SC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 2240,
        "wires": [
            [
                "84da9162124b3649"
            ]
        ]
    },
    {
        "id": "d3586ea45e459c0d",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2240,
        "wires": [
            [
                "ebc96622523d99fe"
            ]
        ]
    },
    {
        "id": "41cf7982b3fbff84",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Toggle RC",
        "func": "// read status bit from flow variable\nlet CB_RC = flow.get(\"CB_RC\") || 0;\n\nCB_RC = Number(!CB_RC);\n\nflow.set(\"CB_RC\", CB_RC);\n\nmsg.payload = CB_RC;\nmsg.topic = \"CB_RC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 2380,
        "wires": [
            [
                "47c0d850fc94295e"
            ]
        ]
    },
    {
        "id": "c8bff596e1f7b721",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2380,
        "wires": [
            [
                "41cf7982b3fbff84"
            ]
        ]
    },
    {
        "id": "3f5c92e1dccef3c5",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test Trigger",
        "func": "let value = flow.get(\"SB_R_TRIG\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_R_TRIG\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 2440,
        "wires": [
            [
                "ee8c0fb74b68aed1"
            ]
        ]
    },
    {
        "id": "1f6f2282aa84c540",
        "type": "inject",
        "z": "87a7cd009a17d8a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2440,
        "wires": [
            [
                "3f5c92e1dccef3c5",
                "1071a50ba0ec745a"
            ]
        ]
    },
    {
        "id": "ee8c0fb74b68aed1",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "debug Trigger",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 2440,
        "wires": []
    },
    {
        "id": "24dc4ecd1d4b822c",
        "type": "debug",
        "z": "87a7cd009a17d8a1",
        "name": "debug Trigger_",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 2480,
        "wires": []
    },
    {
        "id": "1071a50ba0ec745a",
        "type": "function",
        "z": "87a7cd009a17d8a1",
        "name": "Test Trigger_",
        "func": "let value = flow.get(\"SB_R_TRIG_\") || 0;\nmsg.payload = value;\nmsg.topic = \"SB_R_TRIG_\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 2480,
        "wires": [
            [
                "24dc4ecd1d4b822c"
            ]
        ]
    }
]